
# PYTHON / BYTECODE

__pycache__/
*.py[cod]
*$py.class


# ENVIRONMENTS / SECRETS

venv/
.env/


# JUPYTER / NOTEBOOK CHECKPOINTS

.ipynb_checkpoints/


# EDITOR / OS FILES

.vscode/
.DS_Store
Thumbs.db


# PYTHON PACKAGING ARTEFACTS

build/
dist/
*.egg-info/


# DATA FOLDERS


# Ignore large raw data
data/raw/

# Ignore temporary / intermediate data
data/interim/*

# KEEP processed datasets - ignore excpect below
!data/processed/
!data/processed/*.csv


# MODEL FILES


# Keep all trained model artifacts for deployment
!models/
!models/*.pkl


# REPORTS / FIGURES


# Keep folder, but ignore large generated images
reports/figures/*.png
reports/figures/*.jpg
reports/figures/*.svg


# STREAMLIT CACHE / TEMP

.streamlit/


