# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Data artifacts
data/interim/
data/processed/
reports/figures/

# Streamlit cache
.streamlit/
